#display {
  background-color: #E9C46A; // Orange Yellow Crayola
  border: 6px solid #F4A261;
  color: #264653; // Charcoal
  width: 270px;
  height: 100%;
  #notePlayed {
    text-align: center;
  }
}