$padWidth: 80px;
$padHeight: 70px;
$blue: #6494AA; // Air Superiority Blue
$gray: #CCCCCC; // Light Gray
$defaultButtonColor: #666;
$activeButtonColor: #E9C46A;

.drum-pad {
  button {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $gray;
    color: $blue;
    width: $padWidth;
    height: $padHeight;
    border: 2px solid $blue;
    border-radius: 5px;
    box-shadow: 0 5px $defaultButtonColor;
    margin: 5px;
    float: left;
    cursor: pointer;
  }
  button:active {
    background-color: $activeButtonColor;
    transform: translateY(2px);
  }
}